@import "../../app.scss";

.projects {
    // background: linear-gradient(180deg, #0c0c1d, #111132);
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // // margin: 0 20vh;
  
    .listContainer {
        color: rgb(73, 73, 73);
        background-color: white;
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }

        .box {
            padding: 50px;
            border: 0.5px solid rgb(167, 167, 167);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                border: none;
                align-items: center;
                gap: 20px;
                padding: 10px;
            }

            p {
                @include mobile {
                    display: none;
                }
            }

            button {
                padding: 10px;
                background-color: #222222;
                color: white;
                border: none;
                cursor: pointer;

                @include mobile {
                    background-color: transparent;
                    border: 1px solid rgb(0, 0, 0, 0.15);
                    border-radius: 5px;
                    color: #222222;
                    width: 50%;
                    padding: 5px;
                }
            }
        }
    }
}