@import "../../app.scss";

.h2-padding {
    padding: 25px 0;
}

.line-animation {
    --g: 4px; /* the gap */
    --b: 1px; /* border thickness*/
    --c: #fafafa; /* the color */

    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0,
        var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%,
        var(--_g2) 100% var(--_p, 25%);
    background-size:
        200% var(--b),
        var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: 0.3s;
}
.line-animation:hover {
    --_p: 75%;
    filter: grayscale(0%);
}

.projects {
    // background: linear-gradient(180deg, #0c0c1d, #111132);
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    margin: 0 30vh;

    .listContainer {
        color: #cfcfcf;
        background-color: #222222;
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }

        .box {
            h2 {
                color: #eee;
                min-height: 4rem;

                @include mobile {
                    min-height: 0rem;
                    text-align: center;
                    font-size: 1.3rem;
                    padding: 0 15px;
                }
            }
            width: calc(33.33% - 10px);
            margin: 5px;
            padding: 50px;
            border: 0.5px solid rgb(167, 167, 167);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                width: auto;
                border: none;
                align-items: center;
                gap: 20px;
                padding: 10px;
            }

            p {
                color: #9e9e9e;
                margin: 0.8rem 0;

                @include mobile {
                    display: none;
                }
            }

            a {
                padding: 8px;
                text-align: center;
                background-color: #9e9e9e;
                color: white;
                cursor: pointer;
                border-radius: 0.4rem;
                border: 1px solid #9e9e9e;

                @include mobile {
                    background-color: transparent;
                    border: 1px solid #9e9e9e;
                    border-radius: 5px;
                    color: #b8b8b8;
                    width: 50%;
                    padding: 5px;
                }
            }
            a:hover {
                background-color: transparent;
                border: 1px solid #9e9e9e;
                color: white;
                transition: 0.3s;
            }
        }
    }

    @include tablet {
        margin: 0 5vh;
    }

    @include mobile {
        margin: 0 2rem;
    }
}
